@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    font-family: "Anton";
}
header{
    grid-area: header;
    height: 4vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #0a5483;
    align-items: center;
    border-bottom: 3px solid #aedd2b;
}
.pesquisa{
    height: 2.5vw;
    width: 30vw;
}
nav{
    grid-area: nav;
    background-color: #066699;
    padding-left: 5px;
    display: flex;
    gap: 3px;
    flex-direction: column;
}
.textheader,.selected{
    color: #aedd2b;
}
main{
    grid-area: main;
    background-color: #f8f8ec;
    display: flex;
    justify-content: center;
}
footer{
    grid-area: footer;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header header" "nav main" "footer footer";
    padding: 0px;
    margin: 0px;
}
.textmain{
    color: white;
}
.selected{
    border-right: 5px solid #aedd2b;
}
body{
    padding: 0px;
}
